<!-- Header -->
<header class="header">
    <div class="section">
         <div class="header-part-one">
            <a href="/"><img src="{{ site.url }}/img/me.jpg" class="profile-img"></a>
            <h1 class="profile-name">
                Zvonimir Tomesic
                <small>Software engineer</small>
            </h1>
        </div>
        <address class="header-part-two">
            <ul class="item">
                <li><a href="https://www.facebook.com/zvonimir.tomesic" target="_blank" class="icon facebook"></a></li>
                <li><a href="https://hr.linkedin.com/in/zvonimir-tome%C5%A1i%C4%87-92ab265b" target="_blank" class="icon linkedin"></a></li>
                <li><a href="https://github.com/Tzvonimir/" target="_blank" class="icon github"></a></li>
                <li><a href="https://plus.google.com/u/0/115055184532718645821" target="_blank" class="icon google"></a></li>
                <li><a href="/blog.html" class="icon blog"></a></li>
            </ul>
              <div class="item">
                  <span class="info">
                      Email: <a href="mailto:zvonimir.tomesic@gmail.com">zvonimir.tomesic@gmail.com</a>
                  </span>
              </div>
              <div class="item">
                  <span class="info">
                      Phone: <a href="phone:+385955733972">+385955733972</a>
                  </span>
              </div>
        </address>
    </div>
</header>
<!-- Header end -->