<!-- Header -->
<header class="header">
    <div class="section">
         <div class="header-part-one">
            <a href="/"><img src="/img/male.png" class="profile-img"></a>
            <h1 class="profile-name">
                Name Surname
                <small>Software engineer</small>
            </h1>
        </div>
        <address class="header-part-two">
            <ul class="item">
                <li><a href="http://www.facebook.com" target="_blank" class="icon facebook"></a></li>
                <li><a href="http://www.linkedin.com" target="_blank" class="icon linkedin"></a></li>
                <li><a href="http://www.twitter.com" target="_blank" class="icon twitter"></a></li>
                <li><a href="htpp://www.google.com" target="_blank" class="icon google"></a></li>
                <li><a href="/blog.html" class="icon blog"></a></li>
                <!-- <li><a href="www.github.com" target="_blank" class="icon github"></a></li> -->
            </ul>
              <div class="item">
                  <span class="info">
                      Email: <a href="mailto: t.zvonimir@gmail.com">email@email.com</a>
                  </span>
              </div>
              <div class="item">
                  <span class="info">
                      Phone: <a href="phone: +385955733972">+1234567890</a>
                  </span>
              </div>
        </address>
    </div>
</header>
<!-- Header end -->