<!DOCTYPE html>
<html>
<head>
	<title>Zvonimir Tomesic CV</title>
	<description>Zvonimir Tomesic CV. Personal CV/Blog.</description>
	<link rel="shortcut icon" type="image/png" href="{{ '/img/male.png' }}"/>
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% seo %}
</head>
<body>

<div class="wrapper">
	{% include header.html %}

	{{ content }}

  	{% include footer.html %}
</div>

</body>
</html>